html,
body {
  height: 100%;
  margin: 0;
}
.modal-body {
  -webkit-overflow-scrolling: touch;
}
a.btn:focus {
  outline: none;
}
.navbar {
  margin: 0px;
}
#header {
  position: relative;
}
.nav-tabs > li .close {
  margin: -2px 0 0 10px;
  font-size: 18px;
}
#search-bar {
  padding-right: 20px;
}
#query {
  width: 160px;
}
#editor-pane {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 0px;
  background-color: black;
  -webkit-overflow-scrolling: touch;
}
.CodeMirror,
.CodeMirror-scroll {
  height: auto;
}
/* Tried to scroll whole page, it worked fine except fixed position menu on Mobile Safari.
 * on Mobile Safari, fixed position elements scroll when focusing text input. */
/*
.CodeMirror, .CodeMirror-scroll {
    height: auto;
    overflow: visible;
}
*/
