html,
body {
  height: 100%;
  margin: 0;
}
.modal-body {
  -webkit-overflow-scrolling: touch;
}
.btn:focus {
  outline: none;
}
.navbar {
  margin: 0px;
}
.tabs-left > .nav-tabs {
  margin-right: 0px;
}
.navbar-search {
  padding-right: 20px;
}
.table tbody tr th.ascending,
.table tbody tr th.descending {
  background-color: #dff0d8;
}
.table tbody tr th.ascending > span:after {
  content: '^';
  float: right;
}
.table tbody tr th.descending > span:after {
  content: '^';
  float: right;
  -webkit-transform: rotate(-180deg);
}
.CodeMirror {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.CodeMirror-scroll {
  height: auto;
  overflow: visible;
}
/* Tried to scroll whole page, it worked fine except fixed position menu on Mobile Safari.
 * on Mobile Safari, fixed position elements scroll when focusing text input. */
/*
.CodeMirror, .CodeMirror-scroll {
    height: auto;
    overflow: visible;
}
*/
#header {
  position: relative;
}
.nav-tabs > li .close {
  margin: -2px 0 0 10px;
  font-size: 18px;
}
#query {
  width: 148px;
}
.tabbable .tab-content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 0px;
  background-color: black;
}
.tabbable .navbar-search {
  float: right;
}
.tabbable.tabs-left .navbar-search {
  float: none;
}
.tabbable.tabs-left .nav-tabs {
  min-width: 180px;
}
.tabbable.tabs-left .navbar-search .search-query {
  display: block;
}
.tabbable.tabs-left .navbar-search .btn-group {
  left: 101px;
}
.tabbable.tabs-left .tab-content {
  width: auto;
  left: 182px;
  right: 0px;
  top: 42px;
  bottom: 0px;
  background-color: black;
}
